output_mam/
ising_results/
imgs/

sar.py

__pycache__/

output_dim

# ignore output_directories
output_*

output/*

wandb/

# mlflow stuff
mlartifacts/
mlruns/
bench_output/

readme_hidden.md

output/branch_structures/

ising_visualization

# slurm logs and scripts
logs_slurm/
hpc_scripts/*

.vscode/